<h1>Listing people</h1>

<table>
  <tr>
    <th>Title</th>
    <th>First name</th>
    <th>Second name</th>
    <th>Postnomials</th>
    <th>Entry year</th>
  </tr>

<% for person in @people %>
  <tr>
    <td><%=link_to (h person.title), person %></td>
    <td><%=link_to (h person.first_name), person %></td>
    <td><%=link_to (h person.second_name), person %></td>
    <td><%=link_to (h person.postnomials), person %></td>
    <td><%=h person.entry_year %></td>    
   <td><%=link_to "Show", person, :id => person.id %></td> 
  <td> <%= link_to("EDIT", edit_person_path(person))%></td>
 <td><%= link_to 'Delete', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
  <div <% form_tag :action => :search do %>
  <%= text_field_tag :searchstr %><%= submit_tag "Search" %><% end %></div>
<p><%= link_to "Back to main menu", {:controller => "index"  } %> </p>
<br />
