<% search_controller = external_filters %>
<% table_name = search_controller.table_name %>
<% current_external_filters = search_controller.GetCurrentExternalFilters() %>


<input type="text" name="number_of_external_filters" id =<%="\"number_of_external_filters_#{table_name}\""%> value=<%= current_external_filters.length   %> style="display:none" />
  
<% if  current_external_filters.length > 0 %>
   <div id =<%="\"external_filters_header_#{table_name}\"" %> > <label>Search Filters </label> </div>
  <%  else %>
 <div id =<%="\"external_filters_header_#{table_name}\"" %> > </div>
<% end %>

  <table id = <%=  "\"external_filters_#{table_name}\"" %> >
    <% for external_filter in  current_external_filters  %>
      <% if external_filter.current_arguments.length > 0 %>
      <%= render(:partial => "shared/external_filter", :object => external_filter) %>
      <% end %>
    <%end%>
  </table>


