<% row = search_results_buttons.row %>      
<% table_type = search_results_buttons.table_type %>
<% foreign_key = search_results_buttons.foreign_key %>
<% default_id = search_results_buttons.default_id %>
<% table_name = search_results_buttons.table_name %>



<% if table_type == :search_results %>

     <% if table_name == "Person" %>
    <% click_str = "onclick=\"on_select_check_click('#{row.id.to_s}')\""  %>
    <% id_str=  "id = \"check_#{row.id.to_s}\"" %>
    <% else %>
      <% click_str = ""  %>
       <% id_str = "" %>
    <% end %>
   
      <td class ="select-cell"> <input type="checkbox" name ="row_in_list[]" class="check"  <%=id_str%> <%= click_str %> value= <%=row.id.to_s %>  ></td>
      <td class="update-cell">      <% onclick_str = "on_edit('#{table_name.tableize}','#{table_name}','#{row.id.to_s}');return false" %>
      <span id=<%="\"a_edit_#{table_name.tableize}_#{row.id.to_s}\"" %> >
      <a href="edit" onclick= <%="\"#{onclick_str}\""%>   >Edit </a> </span>
      </td>
      <td class="create-cell">      <% onclick_str = "on_create('#{row.id.to_s}');return false" %>
      <span id=<%="\"a_create_#{table_name.tableize}_#{row.id.to_s}\"" %> >
      <a href="#" onclick= <%="\"#{onclick_str}\""%>   >Create| </a> </span>
      </td>

     <td class="create-email-cell">
      <% onclick_str2 = "on_create('#{row.id.to_s}');return false" %>
      <span > <a href=# onclick= <%="\"#{onclick_str2}\""%>   >Create Email </a> </span>
      </td>
      <% if table_name == "Person" %>

        
      <td class="exam-cell">
      <% onclick_str = "onclick= \"on_checkbox_click('#{row.id.to_s}','examcheck_')\"" %>
      <input type="checkbox" name ="exam_in_list[]"  <%= "#{onclick_str}" %> id= <%="examcheck_#{row.id.to_s}"%> class="examcheck" value= <%=row.id.to_s %>  >
      </td>
      <td class="compulsory-cell">
      <% onclick_str = "onclick= \"on_checkbox_click('#{row.id.to_s}','compulsorycheck_')\"" %>      
      <input  type="checkbox"  name= "compulsory_in_list[]"  <%= "#{onclick_str}" %> id= <%="compulsorycheck_#{row.id.to_s}"%>  class= "compulsorycheck"  value= <%=row.id.to_s %>    >
      </td>
      <td class ="willing-cell">
      <% onclick_str = "on_willing('#{row.id.to_s}');return false" %>
      <span id=<%="\"willing_#{table_name.tableize}_#{row.id.to_s}\"" %> >
      <a href="#" onclick= <%="\"#{onclick_str}\""%>   >Make Willing </a> </span>
      </td>
      <%  end %>
      <td class="suggest-cell">      <% onclick_str = "on_suggest('#{row.id.to_s}');return false" %>
      <span id=<%="\"a_suggest_#{table_name.tableize}_#{row.id.to_s}\"" %> >
      <a href="#" onclick= <%="\"#{onclick_str}\""%>   >Suggest</a> </span>
      </td>
      
      <td class="delete-cell">
      <% onclick_str2 = "on_delete('#{table_name}','#{row.id.to_s}');return false" %>
      <span > <a href=# onclick= <%="\"#{onclick_str2}\""%>   >Delete </a> </span>
      </td>
      <td class="send-cell">
      <% onclick_str2 = "on_agatha_send('#{row.id.to_s}','0');return false" %><% onclick_str3 = "on_agatha_send('#{row.id.to_s}','1');return false" %>
      <span style="white-space: nowrap"> <a href=# onclick= <%="\"#{onclick_str2}\""%>   >Send|</a><a href=# onclick= <%="\"#{onclick_str3}\""%> >Test</a> </span>
      </td>
      <td class="add-cell">
      <% onclick_str2 = "on_action('#{row.id.to_s}');return false" %>
      <span > <a href=# onclick= <%="\"#{onclick_str2}\""%>   >Add Selected </a> </span>
      </td>

      <td class="remove-cell">
      <% onclick_str2 = "on_action('#{row.id.to_s}');return false" %>
      <span > <a href=# onclick= <%="\"#{onclick_str2}\""%>   >Remove Selected </a> </span>
      </td>
              <td class="assign-cell">
          <% onclick_str = "on_assign('#{row.id.to_s}');return false" %>
      <span id=<%="\"assign_#{table_name.tableize}_#{row.id.to_s}\"" %> >
      <a href="#" onclick= <%="\"#{onclick_str}\""%>   >Assign</a> </span>
        </td>

      <td class="dummy-cell"> </td>
  <% elsif table_type == :just_filters %>
     
  <% elsif table_type == :option_selector %>
      <% if default_id == row.id %>
         checked_str = "checked"
      <% else %>
         checked_str = ""
      <% end %>
      <td class ="supplementary-cell"> <input type="radio" checked_str name = "<%= foreign_key %>" value= <%=row.id.to_s %>  ></td>
  <% elsif table_type == :through_selector %>
      <td class ="supplementary-cell"> <input type="checkbox" name ="row_in_list[]" class="smallerCheckbox" value= <%=row.id.to_s %>  ></td>
  <% else %>
  
  <% end %>

