<% lecture = Lecture.find(params[:id]) %>
<h1><%=h lecture.course.name %></h2>
<h2><%=h lecture.person.first_name %> <%=h lecture.person.second_name %>
<h3><%=h Course::TERM_NAMES[lecture.term] %> <%=h lecture.year %>

<h4>Attendees</h4>
<table>
<% for a in lecture.attendees %>
<tr><td><%=h a.person.first_name %> <%=h a.person.second_name %></td>
<td><%= button_to "Delete", :action => :delete_attendee, :id => a %>
</td></tr>
<% end %>
</table>

Add an attendee:
<% form_for :attendee, :url=>{:action => :add_attendee} do |f| %>
<%= f.hidden_field :lecture_id,  :value => lecture[:id] %>
<%= f.select :person_id, Person.find(:all, :order => 'second_name asc, entry_year asc').collect {|p| [ p.second_name + ", " + p.first_name, p.id ] }, {:include_blank => 'None'}  %>
<%= submit_tag "Add" %>
<% end %>
<%= link_to 'Back', courses_path %>

