<h1>Editing Course Name</h1>

<% form_for(@course) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
	&nbsp;
    <%= f.submit "Update" %>
   
  </p>
<% end %>

<%= link_to 'Back', courses_path %>
