<h1>Courses</h1>

<table>
<% for course in @courses %>
	<tr>
		<td width="200px"><%=h course.name %></td>
	    <td><%= link_to 'Edit', edit_course_path(course) %></td>
	    <td><%= link_to 'Delete', course, :confirm => 'Are you sure?', :method => :delete %></td>
        <td><%= link_to 'Schedule', {:action => :schedule_lecture, :id => course} %>
	</tr>
    <% for lecture in course.lectures %>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;<%=h lecture.person.first_name %> <%=h lecture.person.second_name %></td>
            <td><%=h Course::TERM_NAMES[lecture.term] %></td>
            <td><%=h lecture.year %></td>
            <td><%= button_to "Delete", :action => :delete_lecture, :id => lecture.id %></td>
            <td><%= link_to "Attendees", {:action => :attendees, :id => lecture} %>
        </tr>
    <% end %>
<% end %>
</table>
<br />
<% form_for :course do |c| %>
	<%= c.error_messages %>
	<p><%= c.label :name %> <%= c.text_field :name %> <%= c.submit "Create" %></p>
<% end %>

<p><%= link_to "Back to main menu", {:controller => "index"  } %> </p>
